<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-energized" ng-controller="NavBarCtrl">

      <ion-nav-back-button class="button-clear">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>

        <div class="item item-avatar menu-background">
            <img src="">
            <h2>Förnamn Efternamn</h2>
            <p>Titel</p>
        </div>

        <ion-list>
            <ion-item menu-close href="#/app/start">
                Start
            </ion-item>
            <ion-item menu-close href="#/app/customers-list">
                Kunder
            </ion-item>
            <ion-item menu-close href="#/app/locations-list">
                Lokaler/platser
            </ion-item>
            <ion-item menu-close href="#/app/furnituring-list">
                Möbleringar
            </ion-item>
            <ion-item menu-close href="#/app/meals-list">
                Måltider
            </ion-item>
            <ion-item menu-close href="#/app/resources-list">
                Resurser
            </ion-item>
            <ion-item menu-close href="#/app/bookingtypes-list">
                Bokningstyper
            </ion-item>
            <ion-item menu-close ng-click="login()">
                Logga ut
            </ion-item>
        </ion-list>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
