<ion-side-menus enable-menu-with-back-views="false" ng-controller="NavigationCtrl">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-energized">

      <ion-nav-back-button class="button-clear">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-content>

        <div class="item item-avatar menu-background">
            <img src="img/standard_user_pic2.jpg" />
            <h2>Förnamn Efternamn</h2>
            <p>Titel</p>
        </div>

        <ion-list class="menu-list">

            <ion-item menu-close href="#/app/start">
                <div class="item-icon-left">
                    <i class="icon ion-home dark"></i>
                    <p>Start</p>
                </div>
            </ion-item>
            <ion-item menu-close href="#/app/customers-list">
                <div class="item-icon-left">
                    <i class="icon ion-briefcase calm"></i>
                    <p>Kunder</p>
                </div>
            </ion-item>
            <ion-item menu-close href="#/app/locations-list">
                <div class="item-icon-left">
                    <i class="icon ion-ios-location balanced"></i>
                    <p>Lokaler/platser</p>
                </div>
            </ion-item>
            <ion-item menu-close href="#/app/furnituring-list">
                <div class="item-icon-left">
                    <i class="icon ion-ios-keypad energized"></i>
                    <p>Möbleringar</p>
                </div>
            </ion-item>
            <ion-item menu-close href="#/app/meals-list">
                <div class="item-icon-left">
                    <i class="icon ion-android-restaurant assertive"></i>
                    <p>Måltider</p>
                </div>
            </ion-item>
            <ion-item menu-close href="#/app/resources-list">
                <div class="item-icon-left">
                    <i class="icon ion-cube royal"></i>
                    <p>Resurser</p>
                </div>
            </ion-item>
            <ion-item menu-close href="#/app/bookingtypes-list">
                <div class="item-icon-left">
                    <i class="icon ion-pricetag positive"></i>
                    <p>Bokningstyper</p>
                </div>
            </ion-item>
            <ion-item menu-close ng-click="login()">
                <div class="item-icon-left">
                    <i class="icon ion-log-out"></i>
                    <p>Logga ut</p>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
