/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Make disabled input colors black instead of grey
.md-input[disabled] {
  color: #000 !important;
}

// Usage of Roboto font
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Bold.ttf");
  font-weight: bold;
}

// Background image on menu
.menu-background {
  background: url("../img/menu-card.png") top left no-repeat;
  background-size: 100%;
  height: 110px;
}

// Navigation list in menu
.menu-list ion-item {
  border-width: 0 !important;
  font-size: 100% !important;
  font-weight: bold;

  .icon {
    font-size: 28px;
  }
}

// NavBar styles

.title-small-text {
  line-height: 34px;
  font-size: 15px;
  opacity: 0.5;
}

// Big icon for material design MB buttons
.md-big-icon {
  font-size: 150% !important;
}

.md-medium-icon {
  font-size: 130% !important;
}

.md-lower-right-button {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
}

.md-lower-right-button-footer {
  position: fixed !important;
  bottom: 64px !important;
  right: 20px !important;
}

// Custom chips specific START

.custom-chip {
  background: #eee;
  border-radius: 16px;
  line-height: 32px;
  height: 32px;
  margin: 8px 8px 0 0;
  padding: 0 12px;
  float: left;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  display: block;
  font-size: 16px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  cursor: pointer;
}

.custom-chip-active {
  background-color: rgb(16,108,200) !important;
  color: #fff !important;
}

// Custom chips specific END

// Calendar specific START

.start-calendar-footer {
  .button {
    padding: 0 !important;
  }
}

.booking-calendar-day-headers {
  background: #fff;
  position: absolute;
  top: 43px;
  left: 0;
  padding: 0;
}

.day-header, .time-header {

  height: 50px;
  padding: 5px;
  border-bottom: 1px solid #eee;
  color: #aaa;

  .week {
    margin-top: 12px;
    text-align: center;
  }

  .number {
    margin: 2px;
    font-size: 24px !important;
  }

  .name {
    margin: 2px;
    font-size: 14px !important;
  }
}

.active-day {
  color: #444 !important;
}

.booking-calendar {
  position: relative;
  top: 50px;
  padding: 0 !important;
  margin-bottom: 150px !important;

  .calendar-time {
    position: relative;
  }

  .old-day {
    background: #fbfbfb;
  }

  .calendar-day {
    position: relative;

    .time-line {
      position: absolute;
      left: -2px;
      border-left: 7px solid #c200ce;
      border-top: 5px solid rgba( 255,255,255,0.15 );
      border-bottom: 5px solid rgba( 255,255,255,0.15 );

      border-radius: 4px;
      z-index: 11;
      width: 100%;

      hr {
        border: none;
        border-top: 2px solid #c200ce;
        margin: 0;
      }
    }
  }

  .col {

    padding: 0 !important;
    border-right: 1px solid #eee;

    .row {
      padding: 0px;
      position: relative;
    }

    .event-hours {
      position: absolute;
      left: 0;
      width: 100%;

        .event-hour {
          border-bottom: 1px solid #f7f7f7;
        }
    }

    .add-button {
      position: absolute;
      left: 0;
      width: 100%;
      opacity: 0.98;

      color: #fff;
      background: rgb(255,87,34);
      margin: 0;
      border-radius: 2px;
      text-align: center;
      font-size: 20px;
      border: none;
      display: block;
    }

    .event {
      color: #fff;
      font-size: 11px;
      position: absolute;
      margin: 1px;
      border-radius: 4px;
      border: 1px solid #fff;
      background: #4b8bf4;
      padding: 3px !important;
      height: 25px;
      border-right: none !important;
      line-height: 12px;
      overflow: hidden;
      cursor: pointer;
    }

    .time {

      // margin: 5px 0;
      padding: 5px !important;
      padding-top: 0 !important;
      // height: 30px;

      div {
        border-right: none !important;
        color: #666;
        font-size: 11px;
        text-align: center;
        width: 50px;
        position: relative;
      }
    }

    .first {
      height: 15px;
    }
  }
}

// Calendar specific END

// Angular Material input fixes START

input[type=search], input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=tel], input[type=color], textarea {
  border: solid;
  border-width: 0 0 1px;
  border-color: rgba(0,0,0,0.12);
}

md-input-container:not(.md-input-has-value) input:not(:focus), md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field {
  border-bottom-color: rgba(0,0,0,0.12)
}

input[type=search], input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=tel], input[type=color], textarea {
  height: 30px !important;
}

// Angular Material input fixes END

// Angular Material Datepicker fixes START

.md-calendar-day-header th {
  vertical-align: middle !important;
}

.md-datepicker-input-mask {
  width: auto !important;
  height: 0 !important;
}

.md-calendar-month-label {
  vertical-align: middle !important;
}

.md-datepicker-open .md-datepicker-input {
  height: 30px !important;
  margin-left: 0 !important;
}

.md-datepicker-input {
  min-width: 84px !important;
  max-width: 84px !important;
}

.md-datepicker-input-container {
  margin-left: 0 !important;
  padding-bottom: 2px !important;
}

md-datepicker {
  position: relative;
  top: 15px;
}

.md-button.md-icon-button {
  padding: 0;
  margin: 0;
}

.md-datepicker-calendar-pane.md-pane-open {

}

// Angular Material Datepicker fixes END

// Custom relative position classes START
.rel-l-20 {
  position: relative;
  left: -20px;
}

// Custom relative position classes END

// Validation messages look START
.validation-messages {
  font-size: 12px;
  color: #dd2c00;
  padding: 0 0 0 12px;
  position: absolute;
  top: -15px;
  right: 0;

  background: url(../img/validation_arrow.gif) bottom left no-repeat;
}

.pos-relative {
  position: relative !important;
}

md-select span.faded, md-option span.faded {
  color: #aaa;
  font-size: 12px;
}

// Validation messages look END

// Angular google maps specific START

.angular-google-map-container {
  width: 800px !important;
  height: 600px !important;
}

// Angular google maps specific END