/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Make disabled input colors black instead of grey
.md-input[disabled] {
  color: #000 !important;
}

// Force usage of Roboto font

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf");
}

// Background image on menu
.menu-background {
  background: url("../img/menu-card.png") top left no-repeat;
  background-size: 100%;
  height: 110px;
}

// Big icon for material design MB buttons
.md-big-icon {
  font-size: 150% !important;
}

.md-medium-icon {
  font-size: 130% !important;
}

.md-lower-right-button {
  position: absolute !important;
  bottom: 5% !important;
  right: 5% !important;
}

// Calendar specific START

.booking-calendar {
  padding: 0 !important;

  .col {

    padding: 0 !important;
    height: 1000px;
    border-right: 1px solid #eee;

    .day-header, .time-header {

      height: 50px;
      padding: 5px;
      border-bottom: 1px solid #eee;
      color: #aaa;

      .week {
        margin-top: 12px;
        text-align: center;
      }

      .number {
        margin: 2px;
        font-size: 24px !important;
      }

      .name {
        margin: 2px;
        font-size: 14px !important;
      }
    }

    .row {
      padding: 2px;
    }

    .event {
      margin: 1px;
      border-radius: 3px;
      background: #4b8bf4;
      padding: 0 !important;
      height: 25px;
      border-right: none !important;
    }

    .time {
      color: #666;
      margin: 5px 0;
      padding: 0 !important;
      height: 30px;
      font-size: 11px;
      text-align: center;
      border-right: none !important;
    }
  }
}



// Calendar specifit END