<ion-view view-title="Användare">
    <ion-content>

        <md-list>
            <md-list-item ng-repeat="user in users" href="#/app/user-details/{{user.Id}}" class="noright">
                <img ng-src="{{ API_IMG_PATH_URL + user.ImageSrc | thumbnail }}" class="md-avatar" ng-if="user.ImageSrc" />
                <img src="img/photo_missing.svg" class="md-avatar" ng-if="!user.ImageSrc">
                <p>{{user.FirstName}} {{user.SurName}} ({{user.UserName}})</p>
            </md-list-item>
        </md-list>

    </ion-content>

    <md-button
            class="md-fab md-warn md-lower-right-button"
            aria-label="Skapa"
            href="#/app/user-create"
            >
        <span class="icon ion-plus-round md-big-icon"></span>
    </md-button>

</ion-view>