<ion-view view-title="Måltidsegenskaper">
    <ion-content>

        <md-list>
            <md-list-item ng-repeat="mealProperty in mealProperties" href="#/app/customer-details/{{mealProperty.MealPropertyId}}" class="noright">
                <p>{{ mealProperty.Name }}</p>
            </md-list-item>
        </md-list>

    </ion-content>

    <md-button
            class="md-fab md-warn md-lower-right-button"
            aria-label="Skapa"
            href="#/app/meal-property-create"
            >
        <span class="icon ion-plus-round md-big-icon"></span>
    </md-button>

</ion-view>