<ion-view view-title="Måltidsbokningar">
    <div class="bar bar-subheader">

        <h2 class="title">{{weekDate.format('MMMM YYYY' ) }} <span class="title-small-text"> vecka {{weekDate.week()}}</span></h2>

        <calendar-days-header date="weekDate"
        >
        </calendar-days-header>

        <button
                class="button"
                ng-click="toPreviousWeek()"
        >
            <span class="icon ion-arrow-left-c md-big-icon"></span>
        </button>

        <button
                class="button"
                ng-click="toNextWeek()"
        >
            <span class="icon ion-arrow-right-c md-big-icon"></span>
        </button>

    </div>

    <ion-content class="has-subheader" padding="false" id="booking-view-content">

        <calendar-week
                date="weekDate"
                bookings="mealBookings"
                bookings-type="'meal-booking'"
                zoom="zoom"
        >
        </calendar-week>

    </ion-content>

    <md-button
            class="md-fab md-warn md-lower-right-button md-ink-ripple"
            aria-label="Skapa"
            href="#/app/meal-booking-create"
    >
        <span class="icon ion-plus-round md-big-icon"></span>
    </md-button>

</ion-view>
