<ion-view view-title="Kund">
    <ion-content padding="true">

        <h1>{{customer.Name}}</h1>

        <div class="row padding">

            <form name="customerForm">
                <div layout-gt-xs="row">
                    <img class="show-image" ng-src="{{API_IMG_PATH_URL + customer.ImageSrc}}" ng-show="isImgVisible" ng-hide="isEditMode || !customer.ImageSrc" show-on-load>

                    <div ng-if="isEditMode">
                        <image-uploader type="Customer" id="{{customer.CustomerId}}" image-src="customer.ImageSrc" base64-encoded-image="customer.ImageForUpload"></image-uploader>
                    </div>
                </div>
                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="customerForm.name.$error">
                        <div ng-message="required">Var god ange namn</div>
                        <div ng-message="pattern">Får endast innehålla specialtecknen: &_-.,~^@()%!</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Namn</label>
                        <input
                          name="name"
                          type="text"
                          ng-model="customer.Name"
                          ng-required="true"
                          ng-disabled="!isEditMode"
                          ng-pattern="TEXT_FIELD_REGEXP"
                          maxlength="50"
                        >
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Kundnummer</label>
                        <input ng-model="customer.CustomerId" disabled>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="customerForm.address.$error">
                        <div ng-message="pattern">Får endast innehålla specialtecknen: &_-.,~^@()%!</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Adress</label>
                        <input
                          name="address"
                          type="text"
                          ng-model="customer.Address"
                          ng-disabled="!isEditMode"
                          ng-pattern="TEXT_FIELD_REGEXP"
                          maxlength="40"
                        >
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="customerForm.postNumber.$error">
                        <div ng-message="pattern">Var god ange i formatet: 123 45</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Postnummer</label>
                        <input
                          name="postNumber"
                          type="text"
                          ng-model="customer.PostNumber"
                          ng-change="fixPostFormat()"
                          ng-disabled="!isEditMode"
                          ng-pattern="/^[0-9\s]*$/"
                          maxlength="6"
                        >
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="customerForm.city.$error">
                        <div ng-message="pattern">Får endast innehålla specialtecknen: &_-.,~^@()%!</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Ort</label>
                        <input
                            class="upper-case"
                            name="city"
                            type="text"
                            ng-model="customer.City"
                            ng-disabled="!isEditMode"
                            ng-pattern="TEXT_FIELD_REGEXP"
                            maxlength="30"
                        >
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="customerForm.email.$error">
                        <div ng-message="email">Ange en giltig e-postadress</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>E-postadress</label>
                        <input
                          name="email"
                          type="email"
                          ng-model="customer.EmailAddress"
                          ng-disabled="!isEditMode"
                          maxlength="50"
                        >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="customerForm.phoneNumber.$error">
                        <div ng-message="pattern">Får endast innehålla nummer</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Telefonnummer</label>
                        <input
                          name="phoneNumber"
                          type="text"
                          ng-model="customer.PhoneNumber"
                          ng-disabled="!isEditMode"
                          ng-pattern="NUMERIC_SPACE_REGEXP"
                          maxlength="20"
                        >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="customerForm.cellPhoneNumber.$error">
                        <div ng-message="pattern">Får endast innehålla nummer</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Mobilnummer</label>
                        <input
                          name="cellPhoneNumber"
                          type="text"
                          ng-model="customer.CellPhoneNumber"
                          ng-disabled="!isEditMode"
                          ng-pattern="NUMERIC_SPACE_REGEXP"
                          maxlength="20"
                        >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">
                    <md-input-container class="md-block" flex-gt-xs>

                        <label>Tillhör kund</label>

                        <md-select
                                name="parentCustomer"
                                ng-model="customer.ParentCustomerId"
                                ng-disabled="!customers.length || !isEditMode"
                                >
                            <md-option value="0" selected="selected"><span class="faded">(Ingen)</span></md-option>
                            <md-option ng-repeat="customer in customers" ng-value="customer.CustomerId">
                                {{customer.Name}}
                            </md-option>
                        </md-select>


                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="customerForm.notes.$error">
                        <div ng-message="pattern">Tillåtna specialtecken: &_-.,~^@()%!</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Anteckningar</label>
                        <textarea
                            ng-model="customer.Notes"
                            md-maxlength="200"
                            rows="5"
                            md-select-on-focus
                            name="notes"
                            ng-pattern="TEXT_FIELD_REGEXP"
                            ng-disabled="!isEditMode"
                        ></textarea>

                    </md-input-container>
                </div>
            </form>
        </div>

    </ion-content>

    <div class="edit-buttons-container">

        <md-button
                ng-show="isEditMode"
                ng-click="abortEditMode()"
                class="md-raised"
                >
            Avbryt
        </md-button>

        <md-button
                ng-show="isEditMode"
                class="md-raised md-primary"
                ng-click="saveCustomer()"
                ng-disabled="customerForm.$invalid"
                >
            Spara
        </md-button>

        <md-button
                ng-show="isEditMode"
                class="md-fab md-mini md-warn"
                ng-click="modal.show()"
                >
            <span class="icon ion-trash-a md-medium-icon"></span>
        </md-button>


    </div>

    <md-button
            class="md-fab md-warn md-lower-right-button"
            aria-label="Redigera"
            ng-click="startEditMode()"
            ng-show="!isEditMode"
            >
        <span class="icon ion-edit md-big-icon"></span>
    </md-button>

</ion-view>
