<ion-view view-title="Search">
    <ion-content>
        <h1>{{furnituring.Name}}</h1>

        <form name="userForm">
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Namn</label>
                    <input ng-model="furnituring.Name" disabled>
                </md-input-container>
                <md-datepicker ng-model="furnituring.Name" md-placeholder="Enter date">
                </md-datepicker>
            </div>
        </form>

    </ion-content>
</ion-view>