<ion-view view-title="Möbleringar">
    <ion-content>

        <md-list>
            <md-list-item ng-repeat="furnituring in furniturings" href="#/app/furnituring-details/{{furnituring.FurnituringId}}" class="noright" aria-label="Visa {{ location.Name }}">
                <img ng-src="{{ API_IMG_PATH_URL + furnituring.ImageSrc | thumbnail }}" class="md-avatar" ng-if="furnituring.ImageSrc" />
                <img src="img/photo_missing.svg" class="md-avatar" ng-if="!furnituring.ImageSrc">
                <p>{{ furnituring.Name }}</p>
            </md-list-item>
        </md-list>

        <ion-infinite-scroll
            ng-if="!noMoreItemsAvailable"
            on-infinite="loadMore()"
            distance="10%"
        ></ion-infinite-scroll>

    </ion-content>

    <md-button
      class="md-fab md-warn md-lower-right-button"
      aria-label="Skapa"
      href="#/app/furnituring-create"
      >
      <span class="icon ion-plus-round md-big-icon"></span>
    </md-button>

</ion-view>
