<ion-view view-title="Lokaler och platser">
    <ion-content>

        <md-list>
            <md-list-item ng-repeat="location in locations" href="#/app/location-details/{{location.LocationId}}" class="noright">
                <img ng-src="{{ API_IMG_PATH_URL + location.ImageSrc | thumbnail }}" class="md-avatar" ng-if="location.ImageSrc" />
                <img src="img/photo_missing.svg" class="md-avatar" ng-if="!location.ImageSrc">
                <p>{{ location.Name }}</p>
            </md-list-item>
        </md-list>

    </ion-content>

    <md-button
            ng-if="userInfo"
            class="md-fab md-warn md-lower-right-button"
            aria-label="Skapa"
            href="#/app/location-create"
    >
        <span class="icon ion-plus-round md-big-icon"></span>
    </md-button>

</ion-view>