<ion-view view-title="Skapa Lokal/Plats">
    <ion-nav-buttons side="secondary">
        <button
                class="button"
                ng-click="abortEditMode()"
                ng-show="true"
        >
            editMode: {{isEditMode}}
        </button>
    </ion-nav-buttons>
    <ion-content padding="true">

        <div class="row padding">

            <form name="userForm">
                <div layout-gt-xs="row">
                    <label>Bild på lokal/plats</label>
                    <image-uploader type="Location" id="{{location.LocationId}}" image-src="location.ImageSrc" base64-encoded-image="location.ImageForUpload"></image-uploader>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Namn</label>
                        <input ng-model="location.Name">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Max antal personer</label>
                        <input ng-model="location.MaxPeople">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Pris per timme</label>
                        <input ng-model="location.BookingPricePerHour">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Minuters marginal före bokning</label>
                        <input ng-model="location.MinutesMarginBeforeBooking">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Minuters marginal efter bokning</label>
                        <input ng-model="location.MinutesMarginAfterBooking">
                    </md-input-container>
                </div>
            </form>
        </div>

        <md-button
                class="md-raised md-primary"
                ng-click="saveLocation()"
        >
            Spara
        </md-button>

    </ion-content>
</ion-view>