<ion-view view-title="Måltider">
    <ion-content>

        <md-list>
            <md-list-item ng-repeat="meal in meals" href="#/app/meal-details/{{meal.MealId}}" class="noright" aria-label="Visa {{ meal.Name }}">
                <img ng-src="{{ API_IMG_PATH_URL + meal.ImageSrc | thumbnail }}" class="md-avatar" ng-if="meal.ImageSrc" />
                <img src="img/photo_missing.svg" class="md-avatar" ng-if="!meal.ImageSrc">
                <p>{{ meal.Name }}</p>
            </md-list-item>
        </md-list>

        <ion-infinite-scroll
            ng-if="!noMoreItemsAvailable"
            on-infinite="loadMore()"
            distance="10%"
        ></ion-infinite-scroll>

    </ion-content>

    <md-button
            class="md-fab md-warn md-lower-right-button"
            aria-label="Skapa"
            href="#/app/meal-create"
            >
        <span class="icon ion-plus-round md-big-icon"></span>
    </md-button>

</ion-view>