<ion-view view-title="Måltider">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="meal in meals" href="#/app/meal-details/{{meal.MealId}}">
                {{meal.Name}}
            </ion-item>
        </ion-list>

    </ion-content>

    <md-button
            class="md-fab md-warn md-lower-right-button"
            aria-label="Skapa"
            href="#/app/meal-create"
            >
        <span class="icon ion-plus-round md-big-icon"></span>
    </md-button>

</ion-view>