<ion-view view-title="Måltidsbokning">
    <ion-content padding="false">

        <div class="list">

            <div class="item item-avatar">
                <img src="{{ API_IMG_PATH_URL + customer.ImageSrc }}">
                <span class="label rel-t-5">Kund</span>
                <h2 class="rel-t-5">{{customer.Name}}</h2>
            </div>

        </div>

        <div class="row padding">

            <form name="mealBookingForm" class="col">

                Starttidpunkt

                <div class="row rel-l-20 pos-relative">

                    <div class="validation-messages" ng-messages="mealBookingForm.bookingStartDate.$error">
                        <div ng-message="valid">Ange ett giltigt startdatum</div>
                        <div ng-message="required">Ett startdatum måste anges</div>
                    </div>

                    <div class="col">
                        <md-datepicker
                                name="bookingStartDate"
                                ng-change="checkEndDate()"
                                ng-model="$parent.bookingStartDate"
                                ng-required="true"
                                ng-disabled="!isEditMode"
                        ></md-datepicker>
                    </div>

                    <md-input-container class="col">
                        <label>Timme</label>
                        <md-select
                                ng-model="$parent.bookingStartHour"
                                ng-change="checkEndDate()"
                                ng-disabled="!isEditMode"
                        >
                            <md-option ng-repeat="hour in selectHours" value="{{hour}}">
                                {{hour | zpad:2}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="col">
                        <label>Minut</label>
                        <md-select
                                ng-model="$parent.bookingStartMinute"
                                ng-change="checkEndDate()"
                                ng-disabled="!isEditMode"
                        >
                            <md-option ng-repeat="minute in selectMinutes" value="{{minute}}">
                                {{minute | zpad:2}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                Sluttidpunkt

                <div class="row rel-l-20 pos-relative">

                    <div class="validation-messages" ng-messages="mealBookingForm.bookingEndDate.$error">
                        <div ng-message="valid">Ange ett giltigt slutdatum</div>
                        <div ng-message="required">Ett slutdatum måste anges</div>
                        <div ng-message="mindate">Slutdatumet kan inte vara före startdatumet</div>
                    </div>

                    <div class="col">
                        <md-datepicker
                                name="bookingEndDate"
                                ng-change="checkEndDate()"
                                ng-model="$parent.bookingEndDate"
                                ng-required="true"
                                md-min-date="bookingStartDate"
                                ng-disabled="!isEditMode"
                        ></md-datepicker>
                    </div>

                    <md-input-container class="col">
                        <label>Timme</label>
                        <md-select
                                ng-model="$parent.bookingEndHour"
                                ng-change="checkEndDate()"
                                ng-disabled="!isEditMode"
                        >
                            <md-option ng-repeat="hour in selectHours" value="{{hour}}">
                                {{hour | zpad:2}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="col">
                        <label>Minut</label>
                        <md-select
                                ng-model="$parent.bookingEndMinute"
                                ng-change="checkEndDate()"
                                ng-disabled="!isEditMode"
                        >
                            <md-option
                                    ng-repeat="minute in selectMinutes" value="{{minute}}"
                            >
                                {{minute | zpad:2}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="mealBookingForm.MealId.$error">
                        <div ng-message="required">Var god ange måltid</div>
                    </div>

                    <md-input-container class="md-block col" flex-gt-sm>

                        <label>Välj måltid</label>
                        <md-select
                                name="MealId"
                                ng-model="mealBooking.MealId"
                                ng-required="true"
                                ng-disabled="!isEditMode"
                        >
                            <md-option ng-repeat="meal in meals" value="{{meal.MealId}}">
                                {{meal.Name}}
                            </md-option>
                        </md-select>

                    </md-input-container>

                </div>
                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="mealBookingForm.MealCount.$error">
                        <div ng-message="required">Var god ange antal</div>
                        <div ng-message="pattern">Endast nummer tillåtna</div>
                        <div ng-message="min">Får vara minst 0</div>
                    </div>

                    <md-input-container class="md-block col" flex-gt-xs>

                        <label>Antal</label>
                        <input
                                type="number"
                                name="MealCount"
                                ng-model="mealBooking.MealCount"
                                ng-required="true"
                                ng-pattern="/^[0-9]*$/"
                                min="0"
                                ng-disabled="!isEditMode"
                        >
                    </md-input-container>

                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <md-input-container class="md-block col" flex-gt-sm>

                        <label>Eventuell lokal/plats dit måltid ska levereras</label>
                        <md-select
                                name="LocationId"
                                ng-model="mealBooking.LocationId"
                                ng-disabled="!isEditMode"
                        >
                            <md-option value="" selected="selected"><span class="faded">(Ingen)</span></md-option>
                            <md-option ng-repeat="location in locations" value="{{location.LocationId}}">
                                {{location.Name}}
                            </md-option>
                        </md-select>

                    </md-input-container>

                </div>

                <div>
                    <md-input-container class="md-block">
                        <label>Eventuell leveransadress</label>
                        <textarea
                            ng-model="mealBooking.DeliveryAddress"
                            md-maxlength="200"
                            rows="5"
                            md-select-on-focus
                            ng-disabled="!isEditMode"
                        ></textarea>
                    </md-input-container>
                </div>

                <div>
                    <md-input-container class="md-block">
                        <label>Anteckningar</label>
                        <textarea
                            ng-model="mealBooking.Notes"
                            md-maxlength="200"
                            rows="5"
                            md-select-on-focus
                            ng-disabled="!isEditMode"
                        ></textarea>
                    </md-input-container>
                </div>

                <div class="row">
                    <md-checkbox
                            ng-model="mealBooking.Provisional"
                            aria-label="Finished?"
                            ng-disabled="!isEditMode"
                    >
                        Preliminär bokning
                    </md-checkbox>
                </div>

            </form>

        </div>

    </ion-content>

    <div class="edit-buttons-container">

        <md-button
                ng-show="isEditMode"
                ng-click="abortEditMode()"
                class="md-raised"
                >
            Avbryt
        </md-button>

        <md-button
                ng-show="isEditMode"
                class="md-raised md-primary"
                ng-click="saveMealBooking()"
                ng-disabled="mealBookingForm.$invalid"
                >
            Spara
        </md-button>

        <md-button
                ng-show="isEditMode"
                class="md-fab md-mini md-warn"
                ng-click="modal.show()"
                >
            <span class="icon ion-trash-a md-medium-icon"></span>
        </md-button>

    </div>

    <md-button
            class="md-fab md-warn md-lower-right-button"
            aria-label="Redigera"
            ng-click="startEditMode()"
            ng-show="!isEditMode"
            >
        <span class="icon ion-edit md-big-icon"></span>
    </md-button>

</ion-view>