<div class="row booking-calendar">

    <calendar-time
            date="date"
            >
    </calendar-time>

    <calendar-day
            date="mondayDate"
            hide-all-add-buttons-callback="hideAddButtons()"
            >
    </calendar-day>

    <calendar-day
            date="tuesdayDate"
            hide-all-add-buttons-callback="hideAddButtons()"
            >
    </calendar-day>

    <calendar-day
            date="wednesdayDate"
            hide-all-add-buttons-callback="hideAddButtons()"
            >
    </calendar-day>

    <calendar-day
            date="thursdayDate"
            hide-all-add-buttons-callback="hideAddButtons()"
            >
    </calendar-day>

    <calendar-day
            date="fridayDate"
            hide-all-add-buttons-callback="hideAddButtons()"
            >
    </calendar-day>

    <calendar-day
            date="satudayDate"
            hide-all-add-buttons-callback="hideAddButtons()"
            >
    </calendar-day>

    <calendar-day
            date="sundayDate"
            hide-all-add-buttons-callback="hideAddButtons()"
            >
    </calendar-day>

</div>