<div class="col calendar-day">
    <div class="day-header"
         ng-class="{'active-day': isCurrentDay}"
    >
        <div class="number">{{dayNumber}}</div>
        <div class="name">{{dayName}}</div>
    </div>

    <!-- Background lines with containers below -->
    <div class="event-hours">
        <div
            class="event-hour"
            ng-repeat="hour in hoursArray"
            ng-click="showAddHour( hour )"
            style="height: {{columnHeight}}px"
        >
        </div>
    </div>

    <!-- Events below -->
    <div class="row">
        <div
            ng-repeat="booking in bookings"
            class="col event"
            style="
                top: {{booking.StartHour * columnHeight}}px;
                height: {{booking.Duration * columnHeight}}px;
                width: {{95 / booking.ConcurrentBookings }}%;
                left: {{(100 / booking.ConcurrentBookings) * booking.ConcurrentBookingIndex}}%;
                z-index: 10;
                opacity: {{ booking.Provisional === 'true' ? 0.3 : 0.8 }};
        ">
            {{ booking.Name }}
        </div>
    </div>

    <!-- Event Add button below -->
    <button
        class="add-button"
        style="
            margin-top: {{ visibleAddButtonHour * columnHeight }}px;
            z-index: 11;
            height: {{columnHeight}}px;
            line-height: {{columnHeight}}px;
        "
        ng-show="visibleAddButtonHour || visibleAddButtonHour === 0"
        ng-click="createEventForHour( visibleAddButtonHour )"
    >
        +
    </button>

    <div
        class="time-line"
        ng-show="isCurrentDay"
        style="
            top: {{ currentHour ? currentHour * columnHeight + 50 : 0}}px;
        "
    >
        <hr />
    </div>
</div>



