<div class="col calendar-day">
    <div class="day-header">
        <div class="number">{{dayNumber}}</div>
        <div class="name">{{dayName}}</div>
    </div>

    <!-- Background lines with containers below -->
    <div class="event-hours">
        <div class="event-hour" ng-repeat="hour in hoursArray" ng-click="showAddHour( hour )">
        </div>
    </div>

    <!-- Events below -->
    <div class="row">
        <div
            ng-repeat="booking in bookings"
            class="col event"
            style="
                top: {{booking.StartHour * 35}}px;
                height: {{booking.Duration * 35}}px;
                width: 95%;
                left: 0%;
            ">
            {{ booking.LocationName }} | {{booking.ConcurrentCount}}

        </div>
    </div>

    <!-- Event Add button below -->

    <button class="add-button"

            style="margin-top: {{ visibleAddButtonHour * 35 }}px"
            ng-show="visibleAddButtonHour"
            ng-click="createEventForHour( visibleAddButtonHour )"
            >
        +
    </button>


</div>



