<div
    class="row booking-calendar"
>

    <calendar-time
        date="weekDateStart"
        zoom="zoom"
        >
    </calendar-time>

    <div class="booking-calendar-day-headers">
        <calendar-day-header ng-repeat="day in days"
                             date="day.date"
        >
        </calendar-day-header>
    </div>

    <calendar-day ng-repeat="day in days"
        date="day.date"
        bookings="day.bookings"
        hide-all-add-buttons-callback="hideAddButtons()"
        bookings-type="bookingsType"
        zoom="zoom"
        >
    </calendar-day>
</div>