<ion-view view-title="Lokal/Platsbokningar">
    <ion-nav-buttons side="secondary">
        <button
            class="button"
            ng-click="abortEditMode()"
            ng-show="true"
        >
            editMode: {{isEditMode}}
        </button>
    </ion-nav-buttons>
    <ion-content padding="false">

        <calendar-week
            date="weekDate"
            bookings="locationBookings"
            bookings-type="'location'"
            new-booking-callback="newBookingCallback(hour)"
        >
        </calendar-week>

    </ion-content>

  <md-button
    class="md-fab md-warn md-lower-right-button"
    aria-label="Skapa"
    href="#/app/furnituring-create"
    >
    <span class="icon ion-plus-round md-big-icon"></span>
  </md-button>

</ion-view>
