<ion-view view-title="Lokal/Platsbokningar">
    <div class="bar bar-subheader">

        <calendar-days-header date="weekDate">
        </calendar-days-header>

        <div style="float: left;">
            <button
                    class="button"
                    ng-click="toPreviousMonth()"
                    >
                <span class="icon ion-chevron-left md-big-icon"></span>
            </button>

            <button
                    class="button"
                    ng-click="toPreviousWeek()"
                    >
                <span class="icon ion-ios-arrow-left md-big-icon"></span>
            </button>
        </div>

        <h2 class="title">
            {{weekDate.format('MMMM YYYY' ) }} <span class="title-small-text"> v. {{weekDate.week()}}</span>
        </h2>

        <div style="float: right;">

            <button
                    class="button"
                    ng-click="toNextWeek()"
                    >
                <span class="icon ion-ios-arrow-right md-big-icon"></span>
            </button>

            <button
                    class="button"
                    ng-click="toNextMonth()"
                    >
                <span class="icon ion-chevron-right md-big-icon"></span>
            </button>

        </div>

    </div>

    <ion-content class="has-subheader" padding="false" id="booking-view-content">

        <calendar-week
            date="weekDate"
            bookings="locationBookings"
            bookings-type="'location-booking'"
            zoom="zoom"
        >
        </calendar-week>

    </ion-content>

    <md-button
        ng-if="userInfo"
        class="md-fab md-warn md-lower-right-button md-ink-ripple"
        aria-label="Skapa"
        href="#/app/location-booking-create"
    >
        <span class="icon ion-plus-round md-big-icon"></span>
    </md-button>

</ion-view>
