<ion-view view-title="Skapa lokalbokning">
    <ion-nav-buttons side="secondary">
        <button
            class="button"
            ng-click="abortEditMode()"
            ng-show="true"
        >
            editMode: {{isEditMode}}
        </button>
    </ion-nav-buttons>
    <ion-content padding="true">

        <div class="row padding">

            <form name="userForm">

                <h5>Starttidpunkt</h5>
                <md-datepicker
                    ng-model="bookingDate"
                ></md-datepicker>

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Starttid</label>
                        <input
                                ng-model="locationBooking.Name"
                                ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/"
                        >
                    </md-input-container>
                </div>

                <h5>Sluttidpunkt</h5>
                <md-datepicker
                    ng-model="bookingDate"
                ></md-datepicker>

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Starttid</label>
                        <input
                                ng-model="locationBooking.Name"
                                ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/"
                        >
                    </md-input-container>
                </div>

                <br>
                <br>
                <hr>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Välj lokal / plats</label>
                    <md-select ng-model="locationBooking.LocationId">
                        <md-option ng-repeat="location in locations" value="{{location.LocationId}}">
                            {{location.Name}}
                        </md-option>
                    </md-select>
                </md-input-container>



            </form>
        </div>

        <md-button
            class="md-raised md-primary"
            ng-click="saveFurnituring()"
        >
            Spara
        </md-button>

    </ion-content>
</ion-view>