<ion-view view-title="Lokalbokningar">
    <ion-nav-buttons side="secondary">
        <button
            class="button"
            ng-click="abortEditMode()"
            ng-show="true"
        >
            editMode: {{isEditMode}}
        </button>
    </ion-nav-buttons>
    <ion-content padding="false">

        <div class="row booking-calendar">

            <calendar-day>
            </calendar-day>

            <calendar-day>
            </calendar-day>

            <calendar-day>
            </calendar-day>

            <calendar-day>
            </calendar-day>

            <calendar-day>
            </calendar-day>

            <calendar-day>
            </calendar-day>

            <calendar-day>
            </calendar-day>

        </div>

    </ion-content>
</ion-view>