<ion-view view-title="Skapa Resurs">
    <ion-content padding="true">

        <div class="row padding">

            <form name="resourceForm">
                <div layout-gt-xs="row">
                    <image-uploader type="Meal" id="{{resource.ResourceId}}" image-src="resource.ImageSrc" base64-encoded-image="resource.ImageForUpload"></image-uploader>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="resourceForm.name.$error">
                        <div ng-message="required">Var god ange namn</div>
                        <div ng-message="pattern">Får endast innehålla specialtecknen: &_-.,~^@()%!</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Namn</label>
                        <input
                            ng-model="resource.Name"
                            name="name"
                            ng-required="true"
                            ng-pattern="TEXT_FIELD_REGEXP"
                            maxlength="50"
                        >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="resourceForm.count.$error">
                        <div ng-message="required">Var god ange antal</div>
                        <div ng-message="pattern">Endast nummer tillåtna</div>
                        <div ng-message="min">Måste vara minst 0</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Antal</label>
                        <input
                            type="number"
                            name="count"
                            ng-required="true"
                            ng-model="resource.Count"
                            ng-pattern="NUMERIC_STRICT_REGEXP"
                            min="0"
                        >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="resourceForm.price.$error">
                        <div ng-message="pattern">Endast nummer och en punkt tillåtet</div>
                    </div>
                    
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Pris per timme (kr)</label>
                        <input
                            ng-model="resource.BookingPricePerHour"
                            name="price"
                            ng-pattern="NUMERIC_DOT_REGEXP"
                        >
                    </md-input-container>
                </div>

                <!-- NOT IMPLEMENTED YET

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="resourceForm.minutesMarginBeforeBooking.$error">
                        <div ng-message="pattern">Endast nummer tillåtna</div>
                        <div ng-message="min">Måste vara minst 0</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Marginal före bokning (minuter)</label>
                        <input
                            type="number"
                            ng-model="resource.MinutesMarginBeforeBooking"
                            name="minutesMarginBeforeBooking"
                            ng-pattern="NUMERIC_STRICT_REGEXP"
                            min="0"
                        >
                      </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="resourceForm.minutesMarginAfterBooking.$error">
                        <div ng-message="pattern">Endast nummer tillåtna</div>
                        <div ng-message="min">Måste vara minst 0</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Marginal efter bokning (minuter)</label>
                        <input
                            type="number"
                            ng-model="resource.MinutesMarginAfterBooking"
                            name="minutesMarginAfterBooking"
                            ng-pattern="NUMERIC_STRICT_REGEXP"
                            min="0"
                        >
                    </md-input-container>
                </div>



                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="resourceForm.weekEndCount.$error">
                        <div ng-message="pattern">Endast nummer tillåtna</div>
                        <div ng-message="min">Måste vara minst 0</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Helgantal</label>
                        <input
                            type="number"
                            ng-model="resource.WeekEndCount"
                            name="weekEndCount"
                            ng-pattern="NUMERIC_STRICT_REGEXP"
                            min="0"
                        >
                    </md-input-container>
                </div>

                -->
            </form>
        </div>

        <md-button
            class="md-raised md-primary"
            ng-click="saveResource()"
            ng-disabled="resourceForm.$invalid"
        >
            Spara
        </md-button>

    </ion-content>

</ion-view>