<ion-view view-title="Skapa Kund">
    <ion-content padding="true">

        <div class="row padding">

            <form name="customerForm">
                <div layout-gt-xs="row">
                    <image-uploader type="Customer" id="{{customer.CustomerId}}" image-src="customer.ImageSrc" base64-encoded-image="customer.ImageForUpload"></image-uploader>
                </div>
                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="customerForm.name.$error">
                        <div ng-message="required">Var god ange namn</div>
                        <div ng-message="pattern">Får endast innehålla specialtecknen: &_-.,~^@()%!</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Namn</label>
                        <input
                            ng-model="customer.Name"
                            name="name"
                            ng-required="true"
                            ng-pattern="TEXT_FIELD_REGEXP"
                        >
                    </md-input-container>
                </div>
                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="customerForm.address.$error">
                        <div ng-message="pattern">Får endast innehålla specialtecknen: &_-.,~^@()%!</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Adress</label>
                        <input
                            ng-model="customer.Address"
                            name="address"
                            ng-pattern="TEXT_FIELD_REGEXP"
                        >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="customerForm.postNumber.$error">
                        <div ng-message="pattern">Var god ange i formatet: 123 45</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Postnummer</label>
                        <input
                            ng-model="customer.PostNumber"
                            name="postNumber"
                            ng-pattern="/^[0-9\s]*$/"
                            ng-change="fixPostFormat()"
                        >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="customerForm.city.$error">
                        <div ng-message="pattern">Får endast innehålla specialtecknen: &_-.,~^@()%!</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Ort</label>
                        <input
                            class="upper-case"
                            ng-model="customer.City"
                            name="city"
                            ng-pattern="TEXT_FIELD_REGEXP"
                        >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="customerForm.email.$error">
                        <div ng-message="email">Ange en giltig e-postadress</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>E-postadress</label>
                        <input
                            type="email"
                            ng-model="customer.EmailAddress"
                            name="email"
                        >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="customerForm.phoneNumber.$error">
                        <div ng-message="pattern">Får endast innehålla nummer</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Telefonnummer</label>
                        <input
                            ng-model="customer.PhoneNumber"
                            name="phoneNumber"
                            ng-pattern="NUMERIC_SPACE_REGEXP"
                        >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="customerForm.cellPhoneNumber.$error">
                        <div ng-message="pattern">Får endast innehålla nummer</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Mobilnummer</label>
                        <input
                            ng-model="customer.CellPhoneNumber"
                            name="cellPhoneNumber"
                            ng-pattern="NUMERIC_SPACE_REGEXP"
                        >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">
                    <md-input-container class="md-block" flex-gt-xs>

                        <label>Tillhör kund</label>

                        <md-select
                                name="parentCustomer"
                                ng-model="customer.ParentCustomerId"
                                ng-disabled="!customers.length"
                        >
                            <md-option value="" selected="selected"><span class="faded">(Ingen)</span></md-option>
                            <md-option ng-repeat="customer in customers" ng-value="customer">
                                {{customer.Name}}
                            </md-option>
                        </md-select>

                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="customerForm.notes.$error">
                        <div ng-message="pattern">Får endast innehålla specialtecknen: &_-.,~^@()%!</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Anteckningar</label>
                        <input
                            ng-model="customer.Notes"
                            name="notes"
                            ng-pattern="TEXT_FIELD_REGEXP"
                        >
                    </md-input-container>
                </div>
            </form>
        </div>

        <md-button
                class="md-raised md-primary"
                ng-click="saveCustomer()"
                ng-disabled="customerForm.$invalid"
        >
            Spara
        </md-button>

    </ion-content>

</ion-view>