<ion-view view-title="Vad vill du göra?">
    <ion-content padding="false">

        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Boka">
                    <md-content class="md-padding">

                        <a class="button button-full" href="#/app/location-booking-create">
                            <i class="icon ion-ios-location menu-icon-color rel-l-20"></i>
                            Boka Lokal/Plats
                        </a>

                        <a class="button button-full" href="#/app/resource-booking-create">
                            <i class="icon ion-cube menu-icon-color rel-l-20"></i>
                            Boka Resurs
                        </a>

                        <a class="button button-full" href="#/app/resource-booking-create">
                            <i class="icon ion-android-restaurant menu-icon-color rel-l-20"></i>
                            Boka Måltid
                        </a>

                    </md-content>
                </md-tab>
                <md-tab label="Visa">
                    <md-content class="md-padding">

                        <h3>Bokningar</h3>

                        <a class="button button-full" href="#/app/location-booking-view">
                            <i class="icon ion-ios-location menu-icon-color rel-l-20"></i>
                            Lokal/Plats-bokningar
                        </a>

                        <a class="button button-full" href="#/app/resource-booking-view">
                            <i class="icon ion-cube menu-icon-color rel-l-20"></i>
                            Resursbokningar
                        </a>

                        <a class="button button-full" href="#/app/meal-booking-view">
                            <i class="icon ion-android-restaurant menu-icon-color rel-l-20"></i>
                            Måltidsbokningar
                        </a>

                        <a class="button button-full" href="#/app/booking-view">
                            <i class="icon ion-android-expand menu-icon-color rel-l-20"></i>
                            Bokningstillfällen
                        </a>

                        <h3>Övrigt</h3>

                        <a class="button button-full" href="#/app/customers-list">
                            <i class="icon ion-briefcase menu-icon-color rel-l-20"></i>
                            Kunder
                        </a>

                        <a class="button button-full" href="#/app/locations-list">
                            <i class="icon ion-ios-location menu-icon-color rel-l-20"></i>
                            Lokaler/Platser
                        </a>

                        <a class="button button-full" href="#/app/resources-list">
                            <i class="icon ion-cube menu-icon-color rel-l-20"></i>
                            Resurser
                        </a>

                        <a class="button button-full" href="#/app/meals-list">
                            <i class="icon ion-android-restaurant menu-icon-color rel-l-20"></i>
                            Måltider
                        </a>

                        <a class="button button-full" href="#/app/furnituring-list">
                            <i class="icon ion-ios-keypad menu-icon-color rel-l-20"></i>
                            Möbleringar
                        </a>

                        <a class="button button-full" href="#/app/meal-properties-list">
                            <i class="icon ion-ios-nutrition menu-icon-color rel-l-20"></i>
                            Måltidsegenskaper
                        </a>

                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </ion-content>

</ion-view>
