<ion-view view-title="Vad vill du göra?">
    <ion-content padding="false">

        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Boka">
                    <md-content class="md-padding">

                        <a class="button button-full" href="#/app/location-booking-create">
                            Lokal/Plats
                            <i class="icon ion-ios-location menu-icon-color"></i>
                        </a>

                        <a class="button button-full" href="#/app/resource-booking-create">
                            Resurs
                            <i class="icon ion-cube menu-icon-color"></i>
                        </a>

                        <a class="button button-full" href="#/app/resource-booking-create">
                            Måltid
                            <i class="icon ion-android-restaurant menu-icon-color"></i>
                        </a>

                    </md-content>
                </md-tab>
                <md-tab label="Visa">
                    <md-content class="md-padding">

                        <h3>Bokningar</h3>

                        <a class="button button-full" href="#/app/location-booking-view">
                            Lokal/Plats-bokningar
                            <i class="icon ion-ios-location menu-icon-color"></i>
                        </a>

                        <a class="button button-full" href="#/app/resource-booking-view">
                            Resursbokningar
                            <i class="icon ion-cube menu-icon-color"></i>
                        </a>

                        <a class="button button-full" href="#/app/meal-booking-view">
                            Måltidsbokningar
                            <i class="icon ion-android-restaurant menu-icon-color"></i>
                        </a>

                        <a class="button button-full" href="#/app/booking-view">
                            Bokningstillfällen
                            <i class="icon ion-android-expand menu-icon-color"></i>
                        </a>

                        <h3>Saker</h3>

                        <a class="button button-full" href="#/app/customers-list">
                            Kunder
                            <i class="icon ion-briefcase menu-icon-color"></i>
                        </a>

                        <a class="button button-full" href="#/app/locations-list">
                            Lokaler/Platser
                            <i class="icon ion-ios-location menu-icon-color"></i>
                        </a>

                        <a class="button button-full" href="#/app/resources-list">
                            Resurser
                            <i class="icon ion-cube menu-icon-color"></i>
                        </a>

                        <a class="button button-full" href="#/app/meals-list">
                            Måltider
                            <i class="icon ion-android-restaurant menu-icon-color"></i>
                        </a>

                        <a class="button button-full" href="#/app/furnituring-list">
                            Möbleringar
                            <i class="icon ion-ios-keypad menu-icon-color"></i>
                        </a>

                        <a class="button button-full" href="#/app/meal-properties-list">
                            Måltidsegenskaper
                            <i class="icon ion-ios-nutrition menu-icon-color"></i>
                        </a>

                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </ion-content>

</ion-view>
