<ion-view view-title="Möbleringar">
    <ion-content>

        <md-list>
            <md-list-item ng-repeat="furnituring in furniturings" href="#/app/customer-details/{{furnituring.FurnituringId}}" class="noright">
                <p>{{ furnituring.Name }}</p>
            </md-list-item>
        </md-list>

    </ion-content>

    <md-button
      class="md-fab md-warn md-lower-right-button"
      aria-label="Skapa"
      href="#/app/furnituring-create"
      >
      <span class="icon ion-plus-round md-big-icon"></span>
    </md-button>

</ion-view>
