<ion-view view-title="Skapa Resurs">
    <ion-content padding="true">

        <div class="row padding">

            <form name="userForm">
                <div layout-gt-xs="row">
                    <image-uploader type="Meal" id="{{resource.ResourceId}}" image-src="resource.ImageSrc" base64-encoded-image="resource.ImageForUpload"></image-uploader>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Namn</label>
                        <input ng-model="resource.Name">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Antal</label>
                        <input ng-model="resource.Count">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Pris per timme</label>
                        <input ng-model="resource.BookingPricePerHour">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Marginal före bokning</label>
                        <input ng-model="resource.MinutesMarginBeforeBooking">
                      </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Marginal efter bokning</label>
                        <input ng-model="resource.MinutesMarginAfterBooking">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Helgantal</label>
                        <input ng-model="resource.WeekEndCount">
                    </md-input-container>
                </div>
            </form>
        </div>

        <md-button
                class="md-raised md-primary"
                ng-click="saveResource()"
        >
            Spara
        </md-button>

    </ion-content>

</ion-view>