<ion-side-menus enable-menu-with-back-views="false" ng-controller="NavigationCtrl">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-logo-color">

      <ion-nav-back-button class="button-clear">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-content>

        <header class="bar bar-header bar-logo-color item-input">
            <h1 class="title">Bokningssystemet</h1>
        </header>

        <div class="item item-avatar menu-top" ng-if="userInfo">
            <img ng-src="{{ API_IMG_PATH_URL + userInfo.imageSrc | thumbnail }}" class="md-avatar" ng-if="userInfo.imageSrc" />
            <img src="img/photo_missing.svg" class="md-avatar" ng-if="!userInfo.imageSrc">
            <h2>{{ userInfo.firstName }} {{ userInfo.surName }}</h2>
            <p>{{ userInfo.emailAddress }}</p>
        </div>

        <ion-list class="menu-list">

            <ion-item menu-close ui-sref="app.start" ui-sref-active="active" class="pointer">
                <div class="item-icon-left">
                    <i class="icon ion-home menu-icon-color"></i>
                    <p>Vad vill du göra?</p>
                </div>
            </ion-item>
            <ion-item menu-close ui-sref="app.booking-view" ui-sref-active="active" class="pointer">
                <div class="item-icon-left">
                    <i class="icon ion-android-calendar menu-icon-color"></i>
                    <p>Bokningar</p>
                </div>
            </ion-item>
            <ion-item menu-close ui-sref="app.customers-list" ui-sref-active="active" class="pointer" ng-if="userInfo">
                <div class="item-icon-left">
                    <i class="icon ion-briefcase menu-icon-color"></i>
                    <p>Kunder</p>
                </div>
            </ion-item>
            <ion-item menu-close ui-sref="app.locations-list" ui-sref-active="active" class="pointer">
                <div class="item-icon-left">
                    <i class="icon ion-ios-location menu-icon-color"></i>
                    <p>Lokaler/platser</p>
                </div>
            </ion-item>
            <ion-item menu-close ui-sref="app.furnituring-list" ui-sref-active="active" class="pointer" ng-if="userInfo">
                <div class="item-icon-left">
                    <i class="icon ion-ios-keypad menu-icon-color"></i>
                    <p>Möbleringar</p>
                </div>
            </ion-item>
            <ion-item menu-close ui-sref="app.meals-list" ui-sref-active="active" class="pointer" ng-if="userInfo">
                <div class="item-icon-left">
                    <i class="icon ion-android-restaurant menu-icon-color"></i>
                    <p>Måltider</p>
                </div>
            </ion-item>
            <ion-item menu-close ui-sref="app.meal-properties-list" ui-sref-active="active" class="pointer" ng-if="userInfo">
                <div class="item-icon-left">
                    <i class="icon ion-ios-nutrition menu-icon-color"></i>
                    <p>Måltidsegenskaper</p>
                </div>
            </ion-item>
            <ion-item menu-close ui-sref="app.resources-list" ui-sref-active="active" class="pointer" ng-if="userInfo">
                <div class="item-icon-left">
                    <i class="icon ion-cube menu-icon-color"></i>
                    <p>Resurser</p>
                </div>
            </ion-item>

            <!-- Not implemented at the moment. -->
            <ion-item menu-close ui-sref="app.bookingtypes-list" ui-sref-active="active" class="pointer" ng-if="false">
                <div class="item-icon-left">
                    <i class="icon ion-pricetag menu-icon-color"></i>
                    <p>Bokningstyper</p>
                </div>
            </ion-item>

            <ion-item menu-close ui-sref="app.users-list" ui-sref-active="active" class="pointer" ng-if="userInfo.userName === 'administrator'">
                <div class="item-icon-left">
                    <i class="icon ion-person menu-icon-color"></i>
                    <p>Användare</p>
                </div>
            </ion-item>

            <ion-item menu-close ui-sref="app.account" ui-sref-active="active" class="pointer" ng-if="userInfo && userInfo.userName !== 'administrator'">
                <div class="item-icon-left">
                    <i class="icon ion-person menu-icon-color"></i>
                    <p>Mina uppgifter</p>
                </div>
            </ion-item>

            <ion-item menu-close ng-click="showLogin()" ng-if="!userInfo">
                <div class="item-icon-left">
                    <i class="icon ion-log-out menu-icon-color"></i>
                    <p>Logga in</p>
                </div>
            </ion-item>

            <ion-item menu-close ng-click="logout()" ng-if="userInfo">
                <div class="item-icon-left">
                    <i class="icon ion-log-out menu-icon-color"></i>
                    <p>Logga ut</p>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
