<ion-view view-title="Bokningstillfälle">
    <ion-nav-buttons side="secondary">
        <button
                class="button"
                ng-click="abortEditMode()"
                ng-show="true"
        >
            editMode: {{isEditMode}}
        </button>
    </ion-nav-buttons>

    <ion-content padding="true">

        <!--

                    {
      "BookingId": 86,
x      "Name": "",
      "BookingTypeId": 1,
      "CustomerId": 100001,
      "Provisional": true,
x      "NumberOfPeople": 24,
      "Discount": 0,
x      "Notes": "",
      "CreatedByUserId": null,
      "ModifiedByUserId": null,
      "ResponsibleUserId": null,
      "CustomerName": "Blepp AB",
      "BookingTypeName": "Ospecifierat",
x      "CalculatedBookingPrice": 9.83,
      "StartTime": "2016-06-04T01:00:00",
      "EndTime": "2016-06-04T01:59:00",
      "LocationBookings": [
        {
          "LocationBookingId": 38,
          "BookingId": 86,
          "NumberOfPeople": 24,
          "StartTime": "2016-06-04T01:00:00",
          "EndTime": "2016-06-04T01:59:00",
          "BookingName": null,
          "Provisional": false,
          "LocationId": 1,
          "LocationName": "Nice place",
          "LocationImageSrc": null,
          "FurnituringId": 0,
          "FurnituringName": "",
          "MaxPeople": 5,
          "MinutesMarginBeforeBooking": 0,
          "MinutesMarginAfterBooking": 0,
          "CalculatedBookingPrice": 9.83,
          "CustomerId": 100001
        }
      ]
    }


        -->

        <h2>{{booking.Name || "(Utan namn)" }}</h2>

        <div class="row padding">

            <form name="bookingForm" class="col">
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Namn på bokningstillfälle</label>
                        <input ng-model="booking.Name" type="text" ng-disabled="!isEditMode">
                    </md-input-container>
                </div>

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Totalt antal personer</label>
                        <input ng-model="booking.NumberOfPeople" type="number" ng-disabled="!isEditMode">
                    </md-input-container>
                </div>

                <div>
                    <md-input-container class="md-block">
                        <label>Anteckningar</label>
                        <textarea
                            ng-model="booking.Notes"
                            md-maxlength="200"
                            rows="5"
                            md-select-on-focus
                            ng-disabled="!isEditMode"
                        ></textarea>
                    </md-input-container>
                </div>

                <div class="list card">
                    <div class="item item-divider">
                        Summering
                    </div>
                    <div class="item item-icon-left">
                        <i class="icon ion-ios-time-outline"></i>
                        <span>Starttidpunkt:</span>
                        <strong>{{ booking.StartTime | date:'yyyy-MM-dd \k\l\. HH:mm'}}</strong>
                    </div>
                    <div class="item item-icon-left ">
                        <i class="icon ion-ios-time"></i>
                        <span>Sluttidpunkt:</span>
                        <strong>{{ booking.EndTime | date:'yyyy-MM-dd \k\l\. HH:mm'}}</strong>
                    </div>
                    <div class="item item-icon-left">
                        <i class="icon ion-stats-bars"></i>
                        <span>Antal bokningar:</span>
                        <strong>{{ booking.LocationBookings.length + booking.ResourceBookings.length + booking.MealBookings.length | count }}</strong>
                    </div>
                    <div class="item item-icon-left">
                        <i class="icon ion-ios-cart-outline"></i>
                        <span>Uträknat bokningspris:</span>
                        <strong>{{ booking.CalculatedBookingPrice | kr }}</strong>
                    </div>
                </div>

                <div class="list card">
                    <div class="item item-divider">
                        Lokalbokningar <span class="faded">{{ booking.LocationBookings.length | count }}</span>
                    </div>

                    <a class="item item-avatar" href="#" ng-repeat="locationBooking in booking.LocationBookings">
                        <img ng-src="{{ API_IMG_PATH_URL + locationBooking.LocationImageSrc }}" ng-if="locationBooking.LocationImageSrc">
                        <img src="img/photo_missing.svg" ng-if="!locationBooking.LocationImageSrc">
                        <h2>{{ locationBooking.LocationName }}</h2>
                        <p>
                            Start: <strong>{{ locationBooking.StartTime | date:'yyyy-MM-dd \k\l\. HH:mm'}}</strong><br>
                            Slut: <strong>{{ locationBooking.EndTime | date:'yyyy-MM-dd \k\l\. HH:mm'}}</strong>
                        </p>

                    </a>

                    <a class="item button icon-left ion-plus-circled button-clear button-positive">Ny lokalbokning</a>
                </div>

                <div class="list card">
                    <div class="item item-divider">
                        Resursbokningar <span class="faded">{{ booking.ResourceBookings.length | count }}</span>
                    </div>

                    <div
                        class="item"
                        ng-repeat="resourceBooking in booking.ResourceBookings"
                    >
                        {{ resourceBooking.ResourceName }}
                    </div>
                    <a class="item button icon-left ion-plus-circled button-clear button-positive">Ny resursbokning</a>
                </div>





                <div class="list card">
                    <div class="item item-divider">
                        Måltidsbokningar  <span class="faded">{{ booking.MealBookings.length | count }}</span>
                    </div>
                    <div
                        class="item"
                        ng-repeat="mealBooking in booking.MealBookings"
                    >
                        {{ mealBooking.MealName }}
                    </div>
                    <a class="item button icon-left ion-plus-circled button-clear button-positive">Ny måltidsbokning</a>
                </div>


            </form>
        </div>

        <md-button
                ng-show="isEditMode"
                ng-click="abortEditMode()"
                class="md-raised"
        >
            Avbryt
        </md-button>

        <md-button
                ng-show="isEditMode"
                class="md-raised md-primary"
                ng-click="saveFurnituring()"
        >
            Spara
        </md-button>

        <md-button
                ng-show="isEditMode"
                class="md-fab md-mini md-warn"
                ng-click="modal.show()"
        >
            <span class="icon ion-trash-a md-medium-icon"></span>
        </md-button>

        <md-button
                class="md-fab md-warn md-lower-right-button"
                aria-label="Redigera"
                ng-click="startEditMode()"
                ng-show="!isEditMode"
        >
            <span class="icon ion-edit md-big-icon"></span>
        </md-button>

    </ion-content>

</ion-view>