<ion-view view-title="Bokningstillfälle">
    <ion-content padding="true">

        <div class="row padding">

            <form name="bookingForm" class="col">

                <div class="pos-relative list card rel-t-20">

                    <div class="validation-messages" ng-messages="bookingForm.CustomerId.$error">
                        <div ng-message="required">Var god ange kund</div>
                    </div>

                    <div class="item item-avatar">

                        <img
                            class="top-35"
                            ng-src="{{ customerImageSrc }}"
                            show-on-load
                            ng-show="imageVisible"
                        >

                        <md-input-container class="md-block">

                            <label>Kund</label>
                            <md-select
                                name="CustomerId"
                                ng-model="booking.CustomerId"
                                ng-required="true"
                                ng-disabled="!isEditMode"
                                ng-change="updateCustomerImageSrc()"
                            >
                                <md-option ng-repeat="customer in customers" value="{{customer.CustomerId}}">
                                    {{customer.Name}}
                                </md-option>
                            </md-select>

                        </md-input-container>

                        <div layout-gt-xs="row" class="pos-relative">

                            <div class="validation-messages" ng-messages="bookingForm.NumberOfPeople.$error">
                                <div ng-message="required">Var god ange antal personer</div>
                                <div ng-message="pattern">Endast nummer tillåtna</div>
                                <div ng-message="min">Måste vara minst 0</div>
                            </div>

                            <md-input-container class="md-block">
                                <label>Totalt antal personer</label>
                                <input
                                    ng-model="booking.NumberOfPeople"
                                    name="NumberOfPeople"
                                    type="number"
                                    ng-disabled="!isEditMode"
                                    ng-required="true"
                                    ng-pattern="/^[0-9]*$/"
                                    min="0"
                                >
                            </md-input-container>

                        </div>

                        <div layout-gt-xs="row" class="pos-relative">

                            <div class="validation-messages" ng-messages="bookingForm.Discount.$error">
                                <div ng-message="required">Var god ange rabatt</div>
                                <div ng-message="pattern">Endast nummer tillåtna</div>
                                <div ng-message="min">Måste vara minst 0</div>
                                <div ng-message="max">Får vara max 100</div>
                            </div>

                            <md-input-container class="md-block">
                                <label>Rabatt (procent)</label>
                                <input
                                        ng-model="booking.Discount"
                                        name="Discount"
                                        type="number"
                                        ng-required="true"
                                        ng-pattern="/^[0-9]*$/"
                                        ng-disabled="!isEditMode"
                                        min="0"
                                        max="100"
                                        >
                            </md-input-container>

                        </div>

                        <md-input-container class="md-block">
                            <label>Anteckningar</label>
                        <textarea
                                ng-model="booking.Notes"
                                md-maxlength="200"
                                rows="5"
                                md-select-on-focus
                                ng-disabled="!isEditMode"
                                maxlength="200"
                                ></textarea>
                        </md-input-container>
                    </div>

                    <!--
                    <div class="item item-icon-left">
                        <i class="icon ion-ios-time-outline"></i>
                        <span>Börjar:</span>
                        <strong>{{ booking.StartTime | date:'yyyy-MM-dd \k\l\. HH:mm'}}</strong>
                    </div>
                    <div class="item item-icon-left ">
                        <i class="icon ion-ios-time"></i>
                        <span>Slutar:</span>
                        <strong>{{ booking.EndTime | date:'yyyy-MM-dd \k\l\. HH:mm'}}</strong>
                    </div>
                    -->

                </div>

                <div class="list card">
                    <div class="item item-divider">
                        Lokalbokningar <span class="faded">{{ booking.LocationBookings.length | count }}</span>
                    </div>

                    <a class="item item-avatar"
                       ng-repeat="locationBooking in booking.LocationBookings"
                       ng-click="showBooking( locationBooking.LocationBookingId, bookingTypes.location )"
                    >
                        <img ng-src="{{ API_IMG_PATH_URL + locationBooking.LocationImageSrc }}" ng-if="locationBooking.LocationImageSrc">
                        <img src="img/photo_missing.svg" ng-if="!locationBooking.LocationImageSrc">
                        <h2>{{ locationBooking.LocationName }}</h2>
                        <p>
                            Antal personer: <strong>{{ locationBooking.NumberOfPeople | count }}</strong><br>
                            Börjar: <strong>{{ locationBooking.StartTime | date:'yyyy-MM-dd \k\l\. HH:mm'}}</strong><br>
                            Slutar: <strong>{{ locationBooking.EndTime | date:'yyyy-MM-dd \k\l\. HH:mm'}}</strong>
                        </p>
                    </a>

                    <a class="item button icon-left ion-plus-circled button-clear button-positive rel-r-20"
                       ng-click="createBookingOfType( bookingTypes.location )"
                    >Ny lokalbokning</a>
                </div>

                <div class="list card">
                    <div class="item item-divider">
                        Resursbokningar <span class="faded">{{ booking.ResourceBookings.length | count }}</span>
                    </div>

                    <a class="item item-avatar"
                       ng-repeat="resourceBooking in booking.ResourceBookings"
                       ng-click="showBooking( resourceBooking.ResourceBookingId, bookingTypes.resource )"
                    >
                        <img ng-src="{{ API_IMG_PATH_URL + resourceBooking.ResourceImageSrc }}" ng-if="resourceBooking.ResourceImageSrc">
                        <img src="img/photo_missing.svg" ng-if="!resourceBooking.ResourceImageSrc">
                        <h2>{{ resourceBooking.ResourceName }}</h2>
                        <p>
                            Antal: <strong>{{ resourceBooking.ResourceCount | count }}</strong><br>
                            Börjar: <strong>{{ resourceBooking.StartTime | date:'yyyy-MM-dd \k\l\. HH:mm'}}</strong><br>
                            Slutar: <strong>{{ resourceBooking.EndTime | date:'yyyy-MM-dd \k\l\. HH:mm'}}</strong><br>
                            <span class="custom-chip custom-small-chip" ng-if="resourceBooking.Provisional">Preliminär</span>
                        </p>
                    </a>

                    <a class="item button icon-left ion-plus-circled button-clear button-positive rel-r-20"
                       ng-click="createBookingOfType( bookingTypes.resource )"
                    >Ny resursbokning</a>
                </div>

                <div class="list card">
                    <div class="item item-divider">
                       Måltidsbokningar  <span class="faded">{{ booking.MealBookings.length | count }}</span>
                    </div>

                    <a class="item item-avatar"
                       ng-repeat="mealBooking in booking.MealBookings"
                       ng-click="showBooking( mealBooking.MealBookingId, bookingTypes.meal )"
                    >
                        <img ng-src="{{ API_IMG_PATH_URL + mealBooking.MealImageSrc }}" ng-if="mealBooking.MealImageSrc">
                        <img src="img/photo_missing.svg" ng-if="!mealBooking.MealImageSrc">
                        <h2>{{ mealBooking.MealName }}</h2>
                        <p>
                            Antal: <strong>{{ mealBooking.MealCount | count }}</strong><br>
                            Börjar: <strong>{{ mealBooking.StartTime | date:'yyyy-MM-dd \k\l\. HH:mm'}}</strong><br>
                            Slutar: <strong>{{ mealBooking.EndTime | date:'yyyy-MM-dd \k\l\. HH:mm'}}</strong>
                        </p>
                    </a>

                    <a class="item button icon-left ion-plus-circled button-clear button-positive rel-r-20"
                       ng-click="createBookingOfType( bookingTypes.meal )"
                    >Ny måltidsbokning</a>

                </div>


                <div class="row">
                    <div class="col">

                        <span>Bokningspris:</span>
                        <strong>{{ booking.CalculatedBookingPrice | kr }}</strong>

                    </div>
                </div>

            </form>
        </div>

        <md-button
                ng-show="isEditMode"
                ng-click="abortEditMode()"
                class="md-raised"
        >
            Avbryt
        </md-button>

        <md-button
                ng-show="isEditMode"
                class="md-raised md-primary"
                ng-click="saveBooking()"
                ng-disabled="bookingForm.$invalid"
        >
            Spara
        </md-button>

        <md-button
                ng-show="isEditMode"
                class="md-fab md-mini md-warn"
                ng-click="modal.show()"
        >
            <span class="icon ion-trash-a md-medium-icon"></span>
        </md-button>

    </ion-content>

    <md-button
            class="md-fab md-warn md-lower-right-button"
            aria-label="Redigera"
            ng-click="startEditMode()"
            ng-show="!isEditMode"
            >
        <span class="icon ion-edit md-big-icon"></span>
    </md-button>

</ion-view>