<ion-view view-title="Användare">
    <ion-content padding="true">

        <h1>{{meal.Name}}</h1>

        <div class="row padding">

            <form name="userForm">

                <div layout-gt-xs="row">
                    <img class="show-image" ng-src="{{API_IMG_PATH_URL + user.ImageSrc}}" ng-show="user.ImageSrc" ng-hide="isEditMode || !user.ImageSrc">

                    <div ng-if="isEditMode">
                        <div layout-gt-xs="row">
                            <image-uploader type="User" id="{{user.Id}}" image-src="user.ImageSrc" base64-encoded-image="user.ImageForUpload"></image-uploader>
                        </div>
                    </div>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="userForm.firstName.$error">
                        <div ng-message="required">Var god ange förnamn</div>
                        <div ng-message="pattern">Får endast innehålla specialtecknen: &_-.,~^@()%!</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Förnamn</label>
                        <input
                                ng-model="user.FirstName"
                                ng-disabled="!isEditMode"
                                name="firstName"
                                ng-required="true"
                                ng-pattern="TEXT_FIELD_REGEXP"
                                maxlength="50"
                                >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="userForm.surName.$error">
                        <div ng-message="required">Var god ange efternamn</div>
                        <div ng-message="pattern">Får endast innehålla specialtecknen: &_-.,~^@()%!</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Efternamn</label>
                        <input
                                ng-model="user.SurName"
                                ng-disabled="!isEditMode"
                                name="surName"
                                ng-required="true"
                                ng-pattern="TEXT_FIELD_REGEXP"
                                maxlength="50"
                                >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="userForm.username.$error">
                        <div ng-message="required">Var god ange användarnamn</div>
                        <div ng-message="pattern">Får endast innehålla specialtecknen: &_-.,~^@()%!</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Användarnamn</label>
                        <input
                                ng-model="user.UserName"
                                ng-disabled="!isEditMode"
                                name="username"
                                ng-required="true"
                                ng-pattern="TEXT_FIELD_REGEXP"
                                maxlength="50"
                                >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="userForm.email.$error">
                        <div ng-message="required">Var god ange e-postadress</div>
                        <div ng-message="email">Ange en giltig e-postadress</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>E-postadress</label>
                        <input
                                name="email"
                                type="email"
                                ng-required="true"
                                ng-model="user.EmailAddress"
                                ng-disabled="!isEditMode"
                                maxlength="50"
                                >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="userForm.cellPhoneNumber.$error">
                        <div ng-message="pattern">Får endast innehålla nummer</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Mobilnummer</label>
                        <input
                                name="cellPhoneNumber"
                                type="text"
                                ng-model="user.CellPhoneNumber"
                                ng-disabled="!isEditMode"
                                ng-pattern="NUMERIC_SPACE_REGEXP"
                                maxlength="20"
                                >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="userForm.password.$error">
                        <div ng-message="pattern">Får endast innehålla specialtecknen: &_-.,~^@()%!</div>
                        <div ng-message="minlength">Måste innehålla minst 6 tecken</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Nytt lösenord</label>
                        <input
                                name="password"
                                type="password"
                                ng-model="user.Password"
                                ng-disabled="!isEditMode"
                                ng-pattern="TEXT_FIELD_REGEXP"
                                maxlength="50"
                                ng-minlength="6"
                                >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">
                    <md-input-container class="md-block" flex-gt-xs>

                        <label>Är avstängd</label>

                        <md-select
                                name="isLockedOut"
                                ng-model="user.IsLockedOut"
                                ng-disabled="!isEditMode"
                                >
                            <md-option ng-value="true">
                                Ja
                            </md-option>
                            <md-option ng-value="false">
                                Nej
                            </md-option>
                        </md-select>

                    </md-input-container>
                </div>

                <h5><span class="faded">Antal felaktiga inloggningar</span></h5>
                <p>{{user.AccessFailedCount | count}}</p>

            </form>
        </div>

    </ion-content>

    <div class="edit-buttons-container">

        <md-button
                ng-show="isEditMode"
                ng-click="abortEditMode()"
                class="md-raised"
                >
            Avbryt
        </md-button>

        <md-button
                ng-show="isEditMode"
                class="md-raised md-primary"
                ng-click="saveUser()"
                ng-disabled="userForm.$invalid"
                >
            Spara
        </md-button>

        <md-button
                ng-show="isEditMode"
                class="md-fab md-mini md-warn"
                ng-click="deleteModal.show()"
                >
            <span class="icon ion-trash-a md-medium-icon"></span>
        </md-button>

    </div>

    <md-button
            class="md-fab md-warn md-lower-right-button"
            aria-label="Redigera"
            ng-click="startEditMode()"
            ng-show="!isEditMode"
            >
        <span class="icon ion-edit md-big-icon"></span>
    </md-button>

</ion-view>