<ion-view view-title="Dina uppgifter">
    <ion-content padding="true">

        <h1>Mina uppgifter</h1>

        <div class="row padding">

            <form name="accountForm">

                <div layout-gt-xs="row">
                    <img class="show-image" ng-src="{{API_IMG_PATH_URL + user.ImageSrc}}" ng-show="user.ImageSrc" ng-hide="isEditMode || !user.ImageSrc">

                    <div ng-if="isEditMode">
                        <div layout-gt-xs="row">
                            <image-uploader type="User" id="{{user.Id}}" image-src="user.ImageSrc" base64-encoded-image="user.ImageForUpload"></image-uploader>
                        </div>
                    </div>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="accountForm.firstName.$error">
                        <div ng-message="required">Var god ange förnamn</div>
                        <div ng-message="pattern">Får endast innehålla specialtecknen: &_-.,~^@()%!</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Förnamn</label>
                        <input
                                ng-model="user.FirstName"
                                ng-disabled="!isEditMode"
                                name="firstName"
                                ng-required="true"
                                ng-pattern="TEXT_FIELD_REGEXP"
                                maxlength="50"
                                >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="accountForm.surName.$error">
                        <div ng-message="required">Var god ange efternamn</div>
                        <div ng-message="pattern">Får endast innehålla specialtecknen: &_-.,~^@()%!</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Efternamn</label>
                        <input
                                ng-model="user.SurName"
                                ng-disabled="!isEditMode"
                                name="surName"
                                ng-required="true"
                                ng-pattern="TEXT_FIELD_REGEXP"
                                maxlength="50"
                                >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="accountForm.username.$error">
                        <div ng-message="required">Var god ange användarnamn</div>
                        <div ng-message="pattern">Får endast innehålla specialtecknen: &_-.,~^@()%!</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Användarnamn</label>
                        <input
                                ng-model="user.UserName"
                                ng-disabled="!isEditMode"
                                name="username"
                                ng-required="true"
                                ng-pattern="USERNAME_REGEXP"
                                maxlength="50"
                                >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="accountForm.email.$error">
                        <div ng-message="required">Var god ange e-postadress</div>
                        <div ng-message="email">Ange en giltig e-postadress</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>E-postadress</label>
                        <input
                                name="email"
                                type="email"
                                ng-required="true"
                                ng-model="user.EmailAddress"
                                ng-disabled="!isEditMode"
                                maxlength="50"
                                >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="accountForm.cellPhoneNumber.$error">
                        <div ng-message="pattern">Får endast innehålla nummer</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Mobilnummer</label>
                        <input
                                name="cellPhoneNumber"
                                type="text"
                                ng-model="user.CellPhoneNumber"
                                ng-disabled="!isEditMode"
                                ng-pattern="NUMERIC_SPACE_REGEXP"
                                maxlength="20"
                                >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="accountForm.newPassword.$error">
                        <div ng-message="pattern">Får endast innehålla specialtecknen: &_-.,~^@()%!</div>
                        <div ng-message="minlength">Måste innehålla minst 6 tecken</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Nytt lösenord</label>
                        <input
                                name="newPassword"
                                type="password"
                                ng-model="user.NewPassword"
                                ng-disabled="!isEditMode"
                                ng-pattern="TEXT_FIELD_REGEXP"
                                maxlength="50"
                                ng-minlength="6"
                                >
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" class="pos-relative">

                    <div class="validation-messages" ng-messages="accountForm.oldPassword.$error">
                        <div ng-message="required">Var god ange befintligt lösenord</div>
                        <div ng-message="pattern">Får endast innehålla specialtecknen: &_-.,~^@()%!</div>
                        <div ng-message="minlength">Måste innehålla minst 6 tecken</div>
                    </div>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Befintligt lösenord</label>
                        <input
                                name="oldPassword"
                                type="password"
                                ng-model="user.CurrentPassword"
                                ng-required="true"
                                ng-disabled="!isEditMode"
                                ng-pattern="TEXT_FIELD_REGEXP"
                                maxlength="50"
                                ng-minlength="6"
                                >
                    </md-input-container>
                </div>

            </form>
        </div>

    </ion-content>

    <div class="edit-buttons-container">

        <md-button
                ng-show="isEditMode"
                ng-click="abortEditMode()"
                class="md-raised"
                >
            Avbryt
        </md-button>

        <md-button
                ng-show="isEditMode"
                class="md-raised md-primary"
                ng-click="saveUser()"
                ng-disabled="accountForm.$invalid"
                >
            Spara
        </md-button>

    </div>

    <md-button
            class="md-fab md-warn md-lower-right-button"
            aria-label="Redigera"
            ng-click="startEditMode()"
            ng-show="!isEditMode"
            >
        <span class="icon ion-edit md-big-icon"></span>
    </md-button>

</ion-view>